
*.db
*.opendb
*.ipch
/FractalM/FractalGlut/Debug/vc141.pdb
/FractalM/FractalGlut/Debug/vc141.idb
/FractalM/FractalGlut/Debug/Source.obj
/FractalM/FractalGlut/Debug/FractalGlut.log
/FractalM/Debug/FractalGlut.ilk
/FractalM/FractalGlut/Debug/FractalGlut.tlog/link.write.1.tlog
/FractalM/FractalGlut/Debug/FractalGlut.tlog/link.read.1.tlog
/FractalM/FractalGlut/Debug/FractalGlut.tlog/link.command.1.tlog
/FractalM/FractalGlut/Debug/FractalGlut.tlog/FractalGlut.lastbuildstate
/FractalM/FractalGlut/Debug/FractalGlut.tlog/CL.write.1.tlog
/FractalM/FractalGlut/Debug/FractalGlut.tlog/CL.read.1.tlog
/FractalM/FractalGlut/Debug/FractalGlut.tlog/CL.command.1.tlog
/FractalM/Debug/FractalGlut.pdb
/FractalM/Debug/FractalGlut.exe
/FractalM/.vs/FractalM/v15/Solution.VC.db-wal
/FractalM/.vs/FractalM/v15/Solution.VC.db-shm
/FractalM/FractalM/image.png
